[submodule "project/app/component/third_libs/mavlink"]
	path = project/app/component/third_libs/mavlink
	url = https://github.com/mavlink/c_library_v2.git
[submodule "project/app/component/third_libs/mongoose"]
	path = project/app/component/third_libs/mongoose
	url = https://github.com/cesanta/mongoose.git
